.App {
  text-align: center;
}

.b1{
  align-items: center;
  text-align: center;
  background-color: orange;
  font-size:large;
}
.App1{
  font-size: 60px;
display: flex;
flex-direction: row;
justify-content: space-around; 
align-items: center;
align-content: space-between;
flex-flow:  wrap;
margin-top: 60px;
}
.bill {
  text-align: center;

font-size: 50px; 


}
.button{
  background-color: orange;
  font-size:large;
  top: 30%
} 
.b3{
  text-align: center;
  background-color: orange;
  align-items: center;
}
